name: flow1
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: task1
        run: |
          echo "hello world task1 in job1
      - name: task1
        run: |
          echo "hello world task1 in job1"