name: "Deploy Application"
on: 
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: ssh to server and deploy
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/azureuser/app
            git pull
            logs=$(docker-compose logs)
            if [ -z "$logs" ]; then
            docker-compose up -d --build
            elif
            docker-compose down
            docker-compose up -d --build
            fi


            
            